@font-face{
  font-family: "Visitor";
  src: url('./assets/Visitor.otf'),
  url('./assets/Visitor.eot'); /* IE */
}

body {
  background-color: #0a7e7e;
  font-family: -apple-system, BlinkMacSystemFont, 'Visitor', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Visitor', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
