@font-face{
  font-family: "Visitor";
  src: url('./assets/Visitor.otf'),
  url('./assets/Visitor.eot'); /* IE */
}

body {
  background-color: #0a7e7e;
  font-family: -apple-system, BlinkMacSystemFont, 'Visitor', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

code {
  font-family: 'Visitor', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
